<template name="home">
  <div class="container top-margin">
    <div class="jumbotron">
      <h1>Introduction</h1>
      <p>Details 1
        <br/>Details 2</p>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <h2>M1</h2>
        <p>Cupcake ipsum dolor sit amet. Pastry pie powder biscuit bear claw. Jelly-o chocolate bar sweet roll sugar plum chocolate. Biscuit brownie chupa chups macaroon ice cream halvah sugar plum oat cake ice cream.</p>
        <p><a class="btn" href="#">B1</a></p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h2>M2</h2>
        <p>Applicake macaroon caramels gummi bears pastry. Cake liquorice carrot cake chocolate lollipop dessert. Halvah fruitcake marshmallow pie gummi bears pie marzipan.</p>
        <p><a class="btn" href="#">B2</a></p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h2>M3</h2>
        <p>Wafer halvah jujubes lollipop liquorice jelly-o pastry. Pie halvah toffee. Candy canes donut sugar plum. Chocolate cake powder tart liquorice cotton candy pudding sweet.</p>
        <p><a class="btn" href="#">B3</a></p>
      </div>
    </div>
  </div>
</template>